<style>
    h1{
        text-align: center;
        color: darkgoldenrod;
    }
    button{
        margin-left: 30px;
        color: chartreuse;
    }
</style>
<nav>
    <h1>This is a Header of this Website</h1>
    <button>Click Me</button>
</nav>